<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Disney 管理システム</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base-style.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
  </head>
  <body>
    <main>
    <section class="sidebar">
      <h1>データ管理</h1>
      <menu>
        <li>&nbsp;<b>顧客情報</b></li>
        <li><a href="{{ url_for('user.list') }}">顧客リスト</a></li>
        <li><a href="{{ url_for('user.add') }}">新規ユーザー追加</a></li>

        <li>&nbsp;<b>アトラクション情報</b></li>
        <li><a href="{{ url_for('attraction.list') }}">アトラクションリスト</a></li>
        <li><a href="{{ url_for('attraction.add') }}">新規アトラクション追加</a></li>

        <li>&nbsp;<b>エリア情報</b></li>
        <li><a href="{{ url_for('area.list') }}">エリアリスト</a></li>
        <li><a href="{{ url_for('area.add') }}">新規エリア追加</a></li>
        <li>&nbsp;<b>履歴</b></li>
        <li><a href="{{ url_for('history.list') }}">履歴リスト</a></li>
        <li><a href="{{ url_for('history.add') }}">新規履歴追加</a></li>

      </menu>
    </section>
    <section class="monthly_user_summary">
      <h2>月別新規ユーザー数</h2>
      <canvas 
        id="newUsersChart"
        data-labels='{{ months | tojson }}'
        data-counts='{{ counts | tojson }}'
      ></canvas>
    </section>
    <section class="user_ranking">
      <h3>顧客ランキング（TOP5）</h3>
      <canvas id="user_ranking_chart" width="300" height="300"></canvas>
    </section>
    <section class="ym_summary">
      <h3>月別総売り上げ</h3>
      <canvas id="ym_summary_chart"></canvas>
    </section>
  </main>
    <h1>注文管理システム</h1>
    <ul>
      <li><a href="{{ url_for('user.list') }}">ユーザー（顧客）</a></li>
      <li><a href="{{ url_for('attraction.list') }}">アトラクション</a></li>
      <li><a href="{{ url_for('area.list') }}">エリア</a></li>
      <li><a href="{{ url_for('history.list') }}">履歴</a></li>
    </ul>
    {% include 'stats-panel.html' %}
  </body>
</html>